
body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    background-color: rgb(143, 181, 242);
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    display: inline-block;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
 
  .btn .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: black;
    color: white;
  }